extends layout

block content
    h1= title

    if (toShow == null)
        h2 No instance to delete
    else 
 
        - let maskid = toShow._id 
        - let maskcolor = toShow.color 
        - let masksize = toShow.size 
        - let maskprice = toShow.price 
   
        div.row(class='mb-2') 
            div.mr-1 ID is 
            div #{maskid} 
        - let actionid = "/resource/masks/" + maskid 
        form(id='maskForm', action= actionid, method="PUT") 
            div.form-group 
                label.maskAttr(for='color') mask color 
                input#color(type='String', name='color', value= color ) 
            div.form-group 
                label.maskAttr(for='price') mask price 
                input#price(type='Number', name='price', value= maskprice ) 
            div.form-group 
                label.maskAttr(for='size') mask size 
                input#size(type='String', name='size', value= masksize ) 
            input(type="submit") 
 
    script. 
        document.forms['maskForm'].addEventListener('submit', (event) => { 
            event.preventDefault(); 
            // TODO do something here to show user that form is being submitted 
            fetch(event.target.action, { 
                method: 'PUT', 
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
            }).then((resp) => { 
                return resp.json(); // or resp.text() or whatever the server sends 
            }).then((body) => { 
                alert("Update succeded") 
                // TODO handle body 
            }).catch((error) => { 
                // TODO handle error 
                alert("Update failed " + error ) 
            }); 
        }); 